* {
	font-family:Tahoma,Arial,sans-serif;
  	box-sizing: border-box;
  	background-color: #fafafa;
}

.col-1 {width: 5.0%;}
.col-2 {
	width: 40.0%;
	padding: 15px;	
	display: inline-block;
}
.col-3 {
	width: 25.0%;
	text-align: right;
	padding: 15px;
	display: inline-block;
}
.col-4 {
	width: 25.0%;
	padding: 15px;
	display: inline-block;
}
.col-5 {width: 5.0%;}
.dirlist {
	width: auto;
	height: auto;
}

.column-heading {
	background-color:#d8d8d8;
	font-size: +1;
	font-weight: bold; 
	align-content: center;
	width: auto;
	border-bottom: 1px solid gray;
}

.column-heading > div, .column-heading > div > a {
	background-color:#d8d8d8;
}

.row {
	align-content: center;
	width: auto;
}

.shade, .shade > div, .shade > div > a {
	background-color:#eaeaea;
}

.upload {
	width: auto;
}

.upload-file {
	width: auto;
	float: none;	
}

.upload-ovrw {	
	width: auto;
	float: none;
}

.upload-msg {
	width: auto;
	float: none;	
}

.upload-file {
	width: auto;
	float: none;	
}

.footer {
	float: none;
}

h1, h2, h3, b {
	color:black;
	background-color:#c0c0c0;
}

a {
	color:dark-blue;
}

.line {
	height: 0px;
	border-bottom: 1px solid black;	
}

